<div class="row">
  <div class="col-md-12">
    <div class="row">
      <h4><%= _('DHCP Details') %></h4>
    </div>
    <%= render :partial => 'smart_proxies/plugins/plugin_version', :locals => {:feature => feature, :proxy => @smart_proxy } %>
    <div class="row">
      <div class="col-md-4">
        <%= _('Subnets') %>
      </div>
      <div class="col-md-8">
        <%= generate_links_for(@smart_proxy.subnets).html_safe %>
      </div>
    </div>
  </div>
</div>
