<div class="row">
  <div class="col-md-4"><%= _('Plugin version') %></div>
  <div class="col-md-8">
    <span class="plugin-version" data-url="<%= plugin_version_smart_proxy_path(proxy) %>" data-plugin="<%= feature %>">
      <span class="spinner-placeholder" />
    </span>
  </div>
</div>
