<div class="row">
  <div class="col-md-12">
    <div class="row">
      <h4><%= _('Puppet Details') %></h4>
    </div>
    <%= render :partial => 'smart_proxies/plugins/plugin_version', :locals => {:feature => feature, :proxy => @smart_proxy } %>
    <div class="row">
      <div class="col-md-4">
        <%= _('Hosts count') %>
      </div>
      <div class="col-md-8">
        <%= link_to(@smart_proxy.hosts.count, hosts_path(:search => "puppetmaster = #{@smart_proxy.name}")) %>
      </div>
    </div>
  </div>
</div>

